<!-- Sidebar  -->
<nav id="sidebar" class="drop-shadow-side" >
    <div class="sidebar-header box">
        <div class="box-row rd-15 bg-dark-blue">   
            <h3><img src="https://i.imgur.com/LGGL7VJ.png" height="60" class="mt-1 mr-1 ml-1 drop-shadow-sidenav"></h3>
            <h3 class="box f-bold cl-white drop-shadow-sidenav mr-3">Snowee Gamecorp.</h3>
        </div>
        <strong><img src="https://i.imgur.com/LGGL7VJ.png" class="drop-shadow mt-1" height="60"></strong>
    </div>
    <ul class="list-unstyled">
        <li class="">
            <a routerLink="inicio">
                <i class="fas fa-home"></i> Início
            </a>
        </li>
        <li *ngIf="auth.isAdmin()">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-briefcase"></i> Fórum
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a routerLink="forum/artigos">Artigos</a>
                </li>
                <li>
                    <a routerLink="forum/temas">Temas</a>
                </li>
            </ul>
        </li>
        <li *ngIf="auth.isAdmin()">
            <a routerLink="users">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                </svg>
                Usuários
            </a>
        </li>
    </ul>
</nav>