<hr>
<div class="container" name="footer">
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="https://github.com/Erick-Neves" target="_blank" class="p-3">
                <img class="tm-social p-30" src="assets/img/github.png" alt="Logo do Github">
            </a>
            <a href="https://www.instagram.com/erick_snowsg/" target="_blank" class="p-3">
                <img class="tm-social p-30" src="assets/img/instagram.png" alt="Logo do Instagram">
            </a>
            <a href="https://www.linkedin.com/in/erick-araujo-aba959151/" target="_blank" class="p-3">
                <img class="tm-social p-30" src="assets/img/linkedin.png" alt="Logo do Linkedin">
            </a> 
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <p>Todos os direitos reservados: Erick Neves Batista de Araujo &copy;</p> 
        </div>
    </div>
</div>
