<div class="container-fluid">
    <div class="row bg-secondary">
        <div class="col-md-12 text-white">
            <a class="text-white text-left" routerLink="/forum">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                Forum
            </a>
            <div class="mt-2">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{{article.imgUrl}}" class="img-fluid rounded-bottom " alt="...">
            <h2 class="fs-54 text-center mt-2">{{article.title}}</h2>
            <h6 class="text-center">Temas: <small *ngFor="let item of article.themes" class="p-1">{{item.name}}</small></h6>
            <hr>
            <h3 class="text-center">{{article.descriptionText}}</h3>
            <p class="fs-18 text-center">{{article.articleText}}</p>
            <div class="text-center">
                <small class="text-muted ">Por: {{userArticle.firstname}} {{userArticle.lastname}} em {{article.createdAt | date: 'dd/MM/yyyy'}} ás {{article.createdAt | date: 'HH:mm'}}</small>
            </div>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-primary m-1" routerLink="/forum">Ver outros artigos</button>
        </div>
    </div>
</div>