@use 'colors';

.f-bold {
    font-weight: bold;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-45 {
    font-size: 45px;
}

.fs-54 {
    font-size: 54px;
}

.footer-copyright {
    font-size: 0.7rem;
}