img {
    margin: auto;
    display: block;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.btn-nav-image {
    width: 25px;
    height: 25px;
}

.btn-edit-ico {
    width: 20px;
    height: 20px;
}

.profile-pic-list {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.about-pic {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.flex {
    display: flex;
}

.flex-img {
    width: 100%;
}

.flex-img-about {
    max-width:300px;
    max-height:300px;
    width: 100%;
}

.flex-img-300 {
    max-width:300px;
    max-height:300px;
    width: 100%;
}

.flex-img-250 {
    max-width:250px;
    max-height:250px;
    width: 100%;
}