@use 'colors';

.otl-dark-pink {
    outline-style: solid;
    outline-color: colors.$dark-pink;
    outline-width: 0.11em;
}

.otl-light-pink {
    outline-style: solid;
    outline-color: colors.$light-pink;
    outline-width: 0.11em;
}

.otl-dark-orange {
    outline-style: solid;
    outline-color: colors.$dark-orange;
    outline-width: 0.11em;
}

.otl-light-blue {
    outline-style: solid;
    outline-color: colors.$light-blue;
    outline-width: 0.11em;
}

.otl-blue {
    outline-style: solid;
    outline-color: colors.$blue;
    outline-width: 0.11em;
}

.otl-dark-blue {
    outline-style: solid;
    outline-color: colors.$dark-blue;
    outline-width: 0.11em;
}

.otl-dark-blue-bold {
    outline-style: solid;
    outline-color: colors.$dark-blue;
    outline-width: 0.2em;
}

.otl-white {
    outline-style: solid;
    outline-color: colors.$white;
    outline-width: 0.11em;
}

.otl-black {
    outline-style: solid;
    outline-color: colors.$black;
    outline-width: 0.11em;
}

.otl-light-gray {
    outline-style: solid;
    outline-color: colors.$light-gray;
    outline-width: 0.11em;
}

.otl-dark-gray {
    outline-style: solid;
    outline-color: colors.$dark-gray;
    outline-width: 0.11em;
}