@use 'colors';
@use 'shadows';
@use 'fonts';
@use 'lists';
@use 'icons';
@use 'images';
@use 'filters';
@use 'outliners';
@use 'zindex';

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

td {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

h5 {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

h6 {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

a {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

input {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

button {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

th {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

tr {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

td {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

label {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}

span {
    font-family: 'Poppins', sans-serif;
    color: colors.$dark-blue;
    font-size: 0.7em;
}

.fixed {
    position: fixed;
    top: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.2em;
    color: colors.$dark-blue;
    a {
        color: #F2A413;
    }
}

.p-btn {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.box-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-column-l {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.box-row-l {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.box-row-r {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.m-auto {
    margin: auto;
}

.v-al {
    td {
        height: 50px;
        vertical-align: middle;
        text-align: center;
    }
}

.al-l {
    align-items: flex-start;
}

.al-r {
    align-items: flex-end;
}