<nav class="navbar navbar-expand-lg bg-secondary swe-nav" style="position:sticky; top: 0">
    <div class="container-fluid">
      <img src="https://i.imgur.com/LGGL7VJ.png" height="40">
      <a class="navbar-brand text-white fw-bold pt-1 p-2 m-0" routerLink="/home">Snowee Gamecorp.</a>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        </ul>
        <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-white fw-bold" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" aria-current="page" routerLink="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold " aria-current="page" routerLink="auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="auth/login">
              <p class="text-white fs-6 mb-0 mt-1 p-1">
                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
              </p>
            </a> 
          </li>
        </ul>
      </div>
    </div>
  </nav>