<div class="container-fluid">
    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">
            
            <div class="row d-flex justify-content-center text-light mb-2">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja bem vindo(a)!</h1>
                    <h5 class="fs-18">junte-se a causa do conhecimento descentralizado, compartilhe!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3 d-grid mt-2" *ngIf='auth.isLogged()'>
                    <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#novoPost" data-bs-whatever="@post">Novo post</button>
                </div>
                <div class="col-md-3 d-grid mt-2">
                    <a class="btn btn-outline-light" (click)="scroll(postagens)">Ver postagens</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/6s5cG47.png" width="500px" height="500px">
        </div>
    </div>
</div>
<div #postagens class="container mt-2 mb-2">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active fw-bold text-secondary" id="todasPostagens-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens-tab-pane" type="button" role="tab" aria-controls="todasPostagens-tab-pane" aria-selected="true">Todas postagens</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf='auth.isLogged()'>
          <button class="nav-link fw-bold text-secondary" id="minhasPostagens-tab" data-bs-toggle="tab" data-bs-target="#minhasPostagens-tab-pane" type="button" role="tab" aria-controls="minhasPostagens-tab-pane" aria-selected="false">Minhas postagens</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link fw-bold text-secondary" id="temaPostagem-tab" data-bs-toggle="tab" data-bs-target="#temaPostagem-tab-pane" type="button" role="tab" aria-controls="temaPostagem-tab-pane" aria-selected="false">Postagens por tema</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens-tab-pane" role="tabpanel" aria-labelledby="todasPostagens-tab" tabindex="0">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-1">
            <div class="col" *ngFor="let item of listArticles">
              <div class="card h-100">
                <img src="{{item.imgUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">{{item.title}}</h5>
                  <hr class="m-0 p-0">
                  <label class="mt-2 mb-1 p-0  fw-bold">Temas:</label>
                  <small *ngFor="let theme of item.themes" class="p-1">{{theme.name}}</small>
                  <p class="card-text">{{item.descriptionText}}</p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-md-7">
                      <small class="text-muted">Por: {{item.user.firstname}} {{item.user.lastname}} em {{item.createdAt | date: 'dd/MM/yyyy'}} ás {{item.createdAt | date: 'HH:mm'}}</small>
                    </div>
                    <div class="col-md-5 text-end">
                      <a [routerLink]="['article-show', item.id]" class="btn btn-primary mt-1" (click)="scroll(postagens)">Ver artigo</a>
                    </div>
                  </div>               
                </div>
              </div>
            </div>
          </div>
          <hr>
          <nav aria-label="Paginação todos os posts">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>
              <li class="page-item" *ngFor="let p of pages; let i=index"><a class="page-link" (click)="setPage(i, $event)">{{i}}</a></li>
              <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
            </ul>
          </nav>
        </div>
        <div class="tab-pane fade" id="minhasPostagens-tab-pane" role="tabpanel" aria-labelledby="minhasPostagens-tab" tabindex="0">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-4">
            <div class="col" *ngFor="let item of listUserArticles">
              <div class="card h-100">
                <img src="{{item.imgUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">{{item.title}}</h5>
                  <hr class="m-0 p-0">
                  <label class="mt-2 mb-1 p-0  fw-bold">Temas:</label>
                  <small *ngFor="let theme of item.themes" class="p-1">{{theme.name}}</small>
                  <p class="card-text">{{item.descriptionText}}</p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-md-7">
                      <small class="text-muted">Ultima alteração em: {{item.createdAt | date: 'dd/MM/yyyy'}} ás {{item.createdAt | date: 'HH:mm'}}</small>
                    </div>
                    <div class="col-md-5 text-end">
                      <a [routerLink]="['article-show', item.id]" class="btn btn-primary mt-1" (click)="scroll(postagens)">Ver artigo</a>
                    </div>
                  </div>
                  <div class="row">
                    <a [routerLink]="['article-edit', item.id]" class="btn btn-warning mt-1" (click)="scroll(postagens)">Editar</a>
                      <a [routerLink]="['article-delete', item.id]" class="btn btn-danger mt-1" (click)="scroll(postagens)">Apagar</a>  
                  </div>            
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="temaPostagem-tab-pane" role="tabpanel" aria-labelledby="temaPostagem-tab" tabindex="0">
          <div class="container" *ngFor="let item of listThemes">
            <h1 class="fw-bold">{{item.name}}</h1>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-1">
              <div class="col" *ngFor="let article of item.articles">
                <div class="card h-100">
                  <img src="{{article.imgUrl}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{article.title}}</h5>
                    <hr class="m-0 p-0">
                    <p class="card-text">{{article.descriptionText}}</p>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <div class="col-md-7">
                        <small class="text-muted">Por: {{article.user.firstname}} {{article.user.lastname}} em {{article.createdAt | date: 'dd/MM/yyyy'}} ás {{article.createdAt | date: 'HH:mm'}}</small>
                      </div>
                      <div class="col-md-5 text-end">
                        <a class="btn btn-primary mt-1" (click)="scroll(postagens)">Ver artigo</a>
                      </div>
                    </div>               
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>  
</div>

<div class="modal fade" id="novoPost" tabindex="-1" aria-labelledby="novoPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="novoPostLabel">Novo Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <form>
              <label class="mt-1">Titulo:</label>
              <input [(ngModel)]='article.title' name="title" type="text" class="form-control"/>
              <label class="mt-1">URL da Imagem:</label>
              <input [(ngModel)]='article.imgUrl' type="text" name="imgUrl" class="form-control"/>
              <label class="mt-1">Descrição:</label>
              <textarea [(ngModel)]='article.descriptionText' class="form-control" name="descriptionText" id="descriptionText" rows="1"></textarea>           
              <label class="mt-1">Artigo:</label>
              <textarea [(ngModel)]='article.articleText' class="form-control" name="articleText" id="articleText" rows="3"></textarea>
              <label class="mt-2 mb-1 p-0">Escolha um tema ou <button type="button" class="btn btn-link mb-1 p-0" data-bs-dismiss="modal" routerLink="/forum/themes">cadastre um novo:</button></label>
              <div class="row">
                <div class="col-md-10">
                  <select class="form-control" name="theme" id="theme" [(ngModel)]="idTheme" (change)="findByIdTheme()">
                    <option *ngFor="let item of listThemes" value="{{item.id}}">{{item.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-success" (click)="addTheme()">+</button>
                </div>
              </div>
              <label class="mt-2 mb-1 p-0 fw-bold">Adicionados:</label>
              <small *ngFor="let item of listArticleThemes" class="p-1">{{item.name}}</small>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="publish()">Publicar</button>
        </div>
      </div>
    </div>
  </div>
    