<div class="container-fluid">
    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">
            
            <div class="row d-flex justify-content-center text-light mb-2">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja bem vindo(a)!</h1>
                    <h5 class="fs-18">junte-se a causa do conhecimento descentralizado, compartilhe!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3 d-grid mt-2">
                    <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#novoPost" data-bs-whatever="@post">Novo post</button>
                </div>
                <div class="col-md-3 d-grid mt-2">
                    <a class="btn btn-outline-light" (click)="scroll(postagens)">Ver postagens</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/6s5cG47.png" width="500px" height="500px">
        </div>
    </div>
</div>
<div #postagens class="container mt-2 mb-2">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active fw-bold text-secondary" id="todasPostagens-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens-tab-pane" type="button" role="tab" aria-controls="todasPostagens-tab-pane" aria-selected="true">Todas postagens</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link fw-bold text-secondary" id="minhasPostagens-tab" data-bs-toggle="tab" data-bs-target="#minhasPostagens-tab-pane" type="button" role="tab" aria-controls="minhasPostagens-tab-pane" aria-selected="false">Minhas postagens</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link fw-bold text-secondary" id="temaPostagem-tab" data-bs-toggle="tab" data-bs-target="#temaPostagem-tab-pane" type="button" role="tab" aria-controls="temaPostagem-tab-pane" aria-selected="false">Postagens por tema</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens-tab-pane" role="tabpanel" aria-labelledby="todasPostagens-tab" tabindex="0">...Todas postagens</div>
        <div class="tab-pane fade" id="minhasPostagens-tab-pane" role="tabpanel" aria-labelledby="minhasPostagens-tab" tabindex="0">...Minhas postagens</div>
        <div class="tab-pane fade" id="temaPostagem-tab-pane" role="tabpanel" aria-labelledby="temaPostagem-tab" tabindex="0">...Postagens por tema</div>
      </div>  
</div>

<div class="modal fade" id="novoPost" tabindex="-1" aria-labelledby="novoPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="novoPostLabel">Novo Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <label class="mt-1">Titulo:</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Your title"/>
            <label class="mt-1">URL da Imagem:</label>
            <input type="text" class="form-control" formControlName="imgUrl" placeholder="Your image URL"/>                   
            <label class="mt-1">Texto:</label>
            <textarea class="form-control" name="articleText" id="articleText" rows="3" placeholder="Your article text"></textarea>
            <label class="mt-2 mb-1 p-0">Escolha um tema ou <button type="button" class="btn btn-link mb-1 p-0" data-bs-dismiss="modal" routerLink="/forum/themes">cadastre um novo:</button></label>
            <select class="form-control" name="theme" id="theme" placeholder="Temas">Temas</select>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
        </div>
      </div>
    </div>
  </div>
    