<div #PORTIFOLIO class="container-fluid">
    <div class="container">
        <div class="mb-2 cl-dark-blue">
            <a class="text-left" routerLink="/forum">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                Forum
            </a>
        </div>
        <sw-card-dk-orange>
            <div class="sw-header">
                <h1 class="p-2 m-0">{{articleToShow.title}}</h1>
            </div>
            <div class="sw-body">
                <div class="container">
                <div class="row pt-3">
                    <div class="col-md-12 mb-3">
                    <img src="{{articleToShow.imgUrl}}" class="d-block w-100 card-rd-15">
                    <h2 class="txt-al-c p-2">{{articleToShow.subTitle}}</h2>
                    <div class="txt-al-c">
                        <p>{{articleToShow.description}}</p>
                        <div #instructions>

                        </div>
                        <a class="mt-4 mb-2 btn btn-primary bg-dark-orange drop-shadow otl-dark-blue" href="{{articleToShow.ending}}">Ver exemplo</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </sw-card-dk-orange>
    </div>
</div>