<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6" id="img-bg">
        </div>
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center mt-5 mb-3">Sign in</h1>
                    <div class="d-flex justify-content-center">
                        <img src="../assets/img/Logo_Statico.png" class="img-login">
                    </div>
                    <form [formGroup]="userForm" (ngSubmit)="submit()">
                        <h4>Firstname:</h4>
                        <input type="text" class="form-control" formControlName="firstName"/>
                        <h4>Lastname:</h4>
                        <input type="text" class="form-control" formControlName="lastName"/>
                        <h4>Username:</h4>
                        <input type="text" class="form-control" formControlName="email"/>
                        <h4>Password:</h4>
                        <input type="password" class="form-control" (input)="confirmPass($event)"/>
                        <h4>Confirm Password:</h4>
                        <input [(ngModel)]='user.password' type="password" class="form-control" formControlName="password"/>
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>