<div #PORTIFOLIO class="container-fluid">
    <div class="container">
        <sw-card-dk-orange>
            <div class="sw-header">
                <h1 class="p-2 m-0">{{articleToShow.title}}</h1>
            </div>
            <div class="sw-body">
                <div class="container">
                <div class="row pt-3">
                    <div class="col-md-12 mb-3">
                    <img src="https://i.imgur.com/1sY3f85.png" class="d-block w-100 card-rd-15">
                    <h2 class="txt-al-c p-2">{{articleToShow.subTitle}}</h2>
                    <div class="txt-al-c">
                        <p>{{articleToShow.description}}</p>
                        <div #instructions>

                        </div>
                        <p class="mt-2 mb-0">{{articleToShow.ending}}</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </sw-card-dk-orange>
    </div>
</div>