<div #PORTIFOLIO class="container-fluid">
    <div class="container">
        <div class="container">
          <sw-card-dk-orange>
          <div class="sw-header">
            <h1 class="p-2 m-0">{{title}}</h1>
          </div>
          <div class="sw-body">
            <div class="container">
              <div class="row pt-3">
                <div class="col-md-12 mb-3">
                  <img src="https://i.imgur.com/1sY3f85.png" class="d-block w-100 card-rd-15">
                  <h2 class="txt-al-c p-2">{{subtitle}}</h2>
                  <div class="txt-al-c">
                    <p>{{description}}</p>
                    <div #instructions>

                    </div>
                    <p class="mt-2 mb-0">{{ending}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sw-card-dk-orange>
        </div>
      </div>
    <sw-divider-nav-dk-orange>
      <div class="container rs-img">
        <div class="row align-items-center mt-2 mb-5" >
          <div class="col-md-6">
            <h1>Seja bem-vindo(a) a comunidade!</h1>
            <h5>sinta-se a vontade para compartilhar</h5>
            <ul class="nav nav-pills mb-2">
              <li #LinkAUTOMACAO class="nav-item mt-1 mb-1">
                <a  class="btn btn-primary"
                >Automação</a>
              </li>
              <li #LinkFULLSTACK class="nav-item mt-1 mb-1 ml-2 mr-2">
                <a class="btn btn-primary"
                >Fullstack</a>
              </li>
              <li #LinkJOGOS class="nav-item mt-1 mb-1">
                <a class="btn btn-primary"
                >Jogos</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="https://i.imgur.com/6s5cG47.png">
          </div>
        </div>
      </div>
    </sw-divider-nav-dk-orange>
</div>