@use '../1-base/colors';

.btn-primary {
    border: 0
}

.minus{
    background-color: colors.$dark-pink;
    color: colors.$white;
    font-weight: bold;
    outline-style: solid;
    outline-color: colors.$dark-blue;
    outline-width: 0.11em;
}

.plus{
    background-color: colors.$light-blue;
    color: colors.$white;
    font-weight: bold;
    outline-style: solid;
    outline-color: colors.$dark-blue;
    outline-width: 0.11em;
}

.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
}