@use '../1-base/colors';

sw-divider-nav-dk-orange {
    h1 {
        font-size: 54px;
    }
    h5 {
        font-size: 18px;
    }
    a {
        background: colors.$dark-orange;
        outline-style: solid;
        outline-color: colors.$dark-blue;
        outline-width: 0.11em;
        filter: drop-shadow(0.3rem 0.3rem colors.$dark-blue);
    }

    div.rs-img {
        display: flex;
    
        img {
            max-width:300px;
            max-height:300px;
            width: 100%;
            border-radius: 255px
        }
    }
}

.sw-divider-nav-dk-orange {
    h1 {
        font-size: 54px;
    }
    h5 {
        font-size: 18px;
    }
    a {
        background: colors.$dark-orange;
        outline-style: solid;
        outline-color: colors.$dark-blue;
        outline-width: 0.11em;
        filter: drop-shadow(0.3rem 0.3rem colors.$dark-blue);
    }

    div.rs-img {
        display: flex;
    
        img {
            max-width:300px;
            max-height:300px;
            width: 100%;
        }
    }
}