@use '../1-base/colors';

.rd-25 {
    border-radius: 10px;
}

.rd-255 {
    border-radius: 255px;
}

.rd-15 {
    border-radius: 15px;
}

.rd-25 {
    border-radius: 25px;
}

.rd-35 {
    border-radius: 35px;
}

.top-rd-15{
    border-radius: 15px 15px 0px 0px;
}

.no-rd {
    border-radius: 0px 0px 0px 0px;
}

.make-snippet {
    border-radius: 15px;
    background: colors.$dark-blue;
    
    p {
        color: colors.$white;
    }
}

make-snippet {
    p {
        background-color: colors.$dark-blue;
        color: colors.$white;
        border-radius: 15px;   
    }
}