@use '../1-base/colors';

.navbar {
    padding: 15px 10px;
    background: colors.$dark-pink;
    border: none;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

nav {
    li {
        a.active{
            color: colors.$dark-blue;
        }
    }
}

