<div class="container-fluid">
    <div class="container card-rd-15 drop-shadow">
      <div class="row align-items-center mt-5 mb-5 container">
        <h1 class="mt-2">Sobre</h1>
        <hr>
        <div class="col-md-6 d-flex justify-content-center mt-5 box-column">
          <img class="p-3 rd-255" src="https://i.imgur.com/L8xViMg.jpg" width="300px" height="300px">
        </div>
        <div class="col-md-6">
          <div class="row justify-content-center text-light mb-3">
            <div class="col-md-10">
              <h1 class="">Eae, tudo bom?!</h1>
              <h5 class="fs-18 cl-dark-blue">me chamo Erick, e criei esta aplicação com o intuito de compartilhar conhecimento e tambem ter um lugar para expor os trabalhos desenvolvidos, sinta-se a vontade para explorar.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5 container">
        <div class="col-md-12">              
          <p>Me chamo Erick, tenho 26 anos, com formação em Tecnólogo de Jogos Digitais, e entusiasta com mentalidade lógica, criativa e dinâmica para resolução de problemas, nerd, possuo interesse em tecnologia e troca de conhecimentos.</p>
          <p>Apaixonado por desenho, simetria e detalhes. Amo o que faço e me sinto realizado durante o processo de criação e desenvolvimento de algo novo.</p>
          <p>Sou um profissional de TI com experiência desenvolvida nas áreas de Certificação, Infraestrutura e Implantação de Sistemas em Companhias de Médio e Grande Porte.</p>
          <p>Experiência no suporte técnico de hardware e software para clientes internos e externos, atendimento telefônico.</p>
          <p>
            Análise ágil, crítica de incidentes e processos, e atuação na resolução.
            Homologação de "Features", testes manuais e funcionais.
          </p>
          <div class="row justify-content-center text-light mb-3 mt-3">
            <div class="col-md-10">
              
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mt-5 mb-5 container">
        <div class="col-md-6">
          <div class="row justify-content-center text-light mb-3">
            <div class="col-md-10">
              <h1 class="">Eae, tudo bem?!</h1>
              <h5 class="fs-18 cl-dark-blue">criei esta aplicação com o intuito de compartilhar conhecimento e tambem ter um lugar para expor os trabalhos desenvolvidos, sinta-se a vontade para explorar.</h5>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center mt-3">
          <img class="p-3 rd-255" src="https://i.imgur.com/L8xViMg.jpg" width="400px" height="400px">
        </div>
        <hr class="mb-3">
      </div>
    </div>
  </div>