<div class="container-fluid">
  <div class="card-rd-15 container drop-shadow">
    <div #GREETINGS class="row container-fluid align-items-center">
      <h1 class="mt-2 txt-al-c drop-shadow-font-next cl-dark-orange">Sobre a Plataforma</h1>
      <hr>
      <div class="col-md-6">
        <img class="p-2 rd-255" src="https://i.imgur.com/L8xViMg.jpg" width="300px" height="300px">
      </div>
      <div class="col-md-6">
        <h1 class="">Eae, tudo bom?!</h1>
        <h5 class="fs-18 cl-dark-blue">criei esta aplicação com o intuito de compartilhar conhecimento e também ter um lugar para expor os trabalhos desenvolvidos, sinta-se a vontade para explorar.</h5>
      </div>
    </div>
    <div #BIO class="row container-fluid align-items-center">
      <div class="col-md-12 ml-1 mt-2">              
        <p>Me chamo Erick, tenho 26 anos, com formação em Tecnólogo de Jogos Digitais, e entusiasta com mentalidade lógica, criativa e dinâmica para resolução de problemas, nerd, possuo interesse em tecnologia e troca de conhecimentos.</p>
        <p>Apaixonado por desenho, simetria e detalhes. Amo o que faço e me sinto realizado durante o processo de criação e desenvolvimento de algo novo.</p>
        <p>Sou um profissional de TI com experiência desenvolvida nas áreas de Certificação, Infraestrutura e Implantação de Sistemas em Companhias de Médio e Grande Porte.</p>
        <p>Tenho experiência no suporte técnico de hardware e software para clientes internos e externos, atendimento telefônico.</p>
        <p>Sempre fazendo uma análise ágil sobre incidentes ou processos, e atuando na resolução.</p>
        <p>Também durante o desenvolvimento, vou gerenciando a homologação de funcionalidades, criação de  testes manuais e funcionais para validar a solução. Além de implantar uma esteira automática para monitoração via Grafana.</p>
      </div>
    </div>
  </div>
  <div class="card-rd-15 container drop-shadow mt-4">
    <div #CONTACTS class="row container">
      <h1 class="mt-2 txt-al-c drop-shadow-font-next cl-dark-orange">Contatos</h1>
      <hr>
    </div>
    <div #CONTACTSLIST class="row">
      <div class="col-md-12 ml-1 mt-1 mb-2">              
        <table class="m-auto">
          <tbody>
            <tr>
              <td><strong class="">Github:</strong></td>
              <td>Erick-Neves</td>
            </tr>
            <tr>
              <td><strong class="">Instagram:</strong></td>
              <td>erick_snowsg</td>
            </tr>
            <tr>
              <td><strong class="">Linkedin:</strong></td>
              <td>erick-neves</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>