<div class="container-fluid mt-2">
  <div #ABOUT class="container">
    <sw-card-dk-orange>
      <div class="sw-header">
        <h1 class="p-2 m-0">Sobre a Plataforma</h1>
      </div>
      <div class="sw-body">
        <div #GREETINGS class="row p-1 container-fluid align-items-center">
          <div class="col-md-7 rs-img">
            <img class="p-2" src="https://i.imgur.com/L8xViMg.jpg">
          </div>
          <div class="col-md-5">
            <div class="p-2">
              <h1 class="">Eae, tudo bom?!</h1>
              <h5 class="fs-18 cl-dark-blue">criei esta aplicação com o intuito de compartilhar conhecimento e também ter um lugar para expor os trabalhos desenvolvidos, sinta-se a vontade para explorar.</h5>
            </div>
          </div>
        </div>
        <div #BIO class="row container-fluid align-items-center">
          <div class="col-md-12 ml-1 mt-1">              
            <p>Me chamo Erick, tenho 26 anos, com formação em Tecnólogo de Jogos Digitais, e entusiasta com mentalidade lógica, criativa e dinâmica para resolução de problemas, nerd, possuo interesse em tecnologia e troca de conhecimentos.</p>
            <p>Apaixonado por desenho, simetria e detalhes. Amo o que faço e me sinto realizado durante o processo de criação e desenvolvimento de algo novo.</p>
            <p>Sou um profissional de TI com experiência desenvolvida nas áreas de Certificação, Infraestrutura e Implantação de Sistemas em Companhias de Médio e Grande Porte.</p>
            <p>Tenho experiência no suporte técnico de hardware e software para clientes internos e externos.</p>
            <p>Sempre fazendo uma análise ágil sobre incidentes ou processos, e atuando na resolução.</p>
            <p>Também durante o desenvolvimento, vou gerenciando a homologação de funcionalidades, criação de  testes manuais e funcionais para validar a solução. Além de implantar uma esteira automática para monitoração via Grafana.</p>
          </div>
        </div>
      </div>
    </sw-card-dk-orange>
  </div>
  <div #CONTACTS class="container mt-4">
    <sw-card-dk-orange>
      <div class="sw-header">
        <h1 class="p-1 m-0">Contatos</h1>
      </div>
      <div class="sw-body">
        <div #CONTACTSLIST class="row">
          <div class="col-md-12 mt-1 mb-2">              
            <table class="m-auto">
              <tbody>
                <tr>
                  <td><strong class="">Github:</strong></td>
                  <td>
                    <a href="https://github.com/Erick-Neves" class="">
                      <img src="https://imgur.com/djzKqnb.png" class="icon-social filter-dark-blue" alt="">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><strong class="">Instagram:</strong></td>
                  <td>
                    <a href="https://www.instagram.com/erick_snowsg/" class="">
                      <img src="https://imgur.com/4LNZPpl.png" class="icon-social filter-dark-blue" alt="">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><strong class="">Linkedin:</strong></td>
                  <td>
                    <a href="https://www.linkedin.com/in/erick-neves-aba959151/" class="">
                      <img src="https://imgur.com/sfOnpcL.png" class="icon-social filter-dark-blue" alt="">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </sw-card-dk-orange>
  </div>
</div>