<footer class="bg-dark-orange">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="cl-dark-blue f-bold mt-2">Siga-nos nas redes sociais!</h4>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Erick-Neves" class="">
                            <img src="https://imgur.com/djzKqnb.png" class="icon-social filter-white" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/erick_snowsg/" class="">
                            <img src="https://imgur.com/4LNZPpl.png" class="icon-social filter-white" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/erick-neves-aba959151/" class="">
                            <img src="https://imgur.com/sfOnpcL.png" class="icon-social filter-white" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark-blue text-center p-1">
        <span class="cl-white">&copy; 2023 Copyright: Erick Neves Batista de Araujo</span> 
    </div>
</footer>
