<footer class="bg-dark-orange container-fluid al-item-strech mt-4">
    <div class="row">
        <h4 #FOOTERTITLE class="cl-dark-blue f-bold mt-2 txt-al-c mb-0">Siga-nos nas redes sociais!</h4>
        <div #SOCIALNETWORKS class="col-md-12 container-fluid align-items-center">
            <ul class="social-network box-row m-0 p-2">
                <li>
                    <a href="https://github.com/Erick-Neves" class="">
                        <img src="https://imgur.com/djzKqnb.png" class="icon-social filter-white" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/erick_snowsg/" class="">
                        <img src="https://imgur.com/4LNZPpl.png" class="icon-social filter-white" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/erick-neves-aba959151/" class="">
                        <img src="https://imgur.com/sfOnpcL.png" class="icon-social filter-white" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div #COPYRIGHT class="bg-dark-blue txt-al-c p-1">
            <span class="cl-white">&copy; 2023 Copyright: Erick Neves Batista de Araujo</span> 
        </div>
    </div>
</footer>
