<nav class="navbar navbar-expand-lg navbar-secondary drop-shadow">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn bg-white drop-shadow">
          <div class="container box">
              <i class="fas fa-align-left cl-dark-blue"></i>
              <img src="https://i.imgur.com/LGGL7VJ.png" class="ml-3" height="30">
          </div>  
        </button>
        <button class="btn d-inline-block d-lg-none ml-auto bg-light-blue cl-white drop-shadow" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="container box">
                <img src="https://i.imgur.com/LGGL7VJ.png" class="mr-3 border-pic-rounded" height="29">
                <i class="fas fa-align-justify"></i>
            </div>        
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto li-white">
                <li class="nav-item active">
                    <a class="nav-link cl-white f-bold" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cl-white f-bold" href="#">Fórum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cl-white f-bold" href="#">Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cl-white f-bold" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cl-white f-bold" href="#">Login<i class="fa fa-user-circle ml-1" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>