/* You can add global styles to this file, and also import other style files */

@import './../node_modules/primeng/resources/primeng.min.css';

.fs-54{
    font-size: 54pt;
}

.fs-44{
    font-size: 44pt;
}


.fs-18{
    font-size: 18pt;
}