<div class="container-fluid">
    <div class="container">
        <sw-card-nav-white>
            <div class="sw-header">
                <h1 class="p-2 m-0">Artigos</h1>
            </div>
            <div class="sw-body">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-md-12 mb-3">
                            <ul class="nav nav-pills nav-justified drop-shadow mb-2" id="myTab" role="tablist">
                                <li class="nav-item  m-1" role="presentation">
                                    <button class="nav-link" id="find-article-tab" data-bs-toggle="tab" data-bs-target="#find-article-tab-pane" type="button" role="tab" aria-controls="find-article-tab-pane" aria-selected="false"><i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </li>
                                <li class="nav-item  m-1" role="presentation">
                                  <button class="nav-link active" id="all-articles" data-bs-toggle="tab" data-bs-target="#all-articles-tab-pane" type="button" role="tab" aria-controls="all-articles-tab-pane" aria-selected="true">Todos</button>
                                </li>
                                <li class="nav-item  m-1" role="presentation">
                                    <button class="nav-link" id="user-articles" data-bs-toggle="tab" data-bs-target="#user-articles-tab-pane" type="button" role="tab" aria-controls="user-articles-tab-pane" aria-selected="false">Meus</button>
                                </li>
                                <li class="nav-item  m-1" role="presentation">
                                  <button class="nav-link" id="insert-article-tab" data-bs-toggle="tab" data-bs-target="#insert-article-tab-pane" type="button" role="tab" aria-controls="insert-article-tab-pane" aria-selected="false">Criar</button>
                                </li>
                            </ul>
                            <div #ALLARTICLES class="tab-content mt-1 align-items-center justify-content-center" id="all-articles">
                                <div class="tab-pane fade show active" id="all-articles-tab-pane" role="tabpanel" aria-labelledby="all-articles" tabindex="1">          
                                    <div class="table-all-scroll container">
                                        <table class="table v-al">
                                            <thead class="txt-al-c">
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Título</th>
                                                <th scope="col">Ações</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let article of articleList" class="v-al">
                                                    <td scope="row">
                                                        <p class="cl-dark-blue m-0">{{article.id}}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0">{{article.title}}</p>
                                                    </td>
                                                    <td>
                                                        <div class="mb-1 d-grid">
                                                            <button  class="btn btn-primary" (click)="showArticle(article.id)">Abrir</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>
                            </div>
                            <div #USERARTICLES class="tab-content mt-1 container align-items-center justify-content-center" id="user-articles">
                                <div class="tab-pane fade show" id="user-articles-tab-pane" role="tabpanel" aria-labelledby="user-articles" tabindex="1">          
                                    <div class="table-all-scroll container">
                                        <table class="table v-al ">
                                            <thead class="txt-al-c">
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Título</th>
                                                <th scope="col">Ações</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let article of userArticleList" class="v-al">
                                                    <td scope="row">
                                                        <p class="cl-dark-blue m-0">{{article.id}}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0">{{article.title}}</p>
                                                    </td>
                                                    <td>
                                                        <div class="mb-1 d-grid">
                                                            <button  data-bs-toggle="modal" data-bs-target="#editArticle" data-bs-whatever="@pos t" class="btn btn-primary" (click)="setArticleToEdit(article)">Editar<img src="https://imgur.com/6yhELuo.png" class="btn-edit-ico filter-white"></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div #INSERARTICLE class="tab-content mt-3 txt-al-l container" id="insert-article">
                                <div class="tab-pane fade show " id="insert-article-tab-pane" role="tabpanel" aria-labelledby="insert-article" tabindex="1">
                                    <form class="mb-3" [formGroup]="insertArticleForm" (ngSubmit)="insertArticle()">
                                        <label class="m-0 pt-1">Título:</label>
                                        <input [(ngModel)]="articleToInsert.title"  type="text" class="form-control" formControlName="title"/>
                                        <label class="m-0 pt-2">Subtítulo:</label>
                                        <input [(ngModel)]="articleToInsert.subTitle"  type="text" class="form-control" formControlName="subtitle"/>
                                        <label class="m-0 pt-2">Descrição:</label>
                                        <input [(ngModel)]="articleToInsert.description"  type="text" class="form-control" formControlName="description"/>
                                        <label class="m-0 pt-2">Temas:</label>
                                        <div class="row">
                                            <div class="box-row">
                                                <select class="form-control mr-1" [(ngModel)]="themeSelected" formControlName="theme">
                                                    <option [ngValue]="null" disabled>Selecione um tema</option>
                                                    <option *ngFor="let theme of themeList" [ngValue]="theme">{{theme.name}}</option>
                                                </select>
                                                <div class="txt-al-c box-row cl-white">
                                                    <a class="btn btn-primary minus mr-1" (click)="removeTheme(themeSelected,0)">-</a>
                                                    <a class="btn btn-primary plus mr-1"  (click)="addTheme(themeSelected,0)">+</a>
                                                </div>
                                            </div>
                                            <label class="mt-2 mb-1 fw-bold">Adicionados: <small *ngFor="let themeToAdd of listArticleThemes" class="p-1">{{themeToAdd.name}}</small></label>
                                        </div>
                                        <label class="m-0 pt-2">Imagem de capa:</label>
                                        <input [(ngModel)]="articleToInsert.imgUrl"  type="text" class="form-control" formControlName="imgUrl"/>
                                        <div class="row bg-dark-blue pb-2 mt-3 rd-15 align-items-center">
                                            <div class="container">
                                                <label class="m-0 pt-2 cl-white">Passos:</label>
                                                <input [(ngModel)]="articleToInsert.step"  type="text" class="form-control" formControlName="step"/>
                                                <label class="m-0 pt-2 cl-white">Códigos:</label>
                                                <input [(ngModel)]="articleToInsert.code"  type="text" class="form-control" formControlName="code"/>
                                            </div>
                                            <div class="col-md-12 d-grid mt-3 cl-white">
                                                <a class="btn btn-primary plus"  (click)="addInstructions(articleToInsert.step, articleToInsert.code, 0)">Adicionar</a>                                               
                                            </div>
                                            <label class="m-0 pt-2 cl-white">Instruções:</label>
                                            <div class="pt-2">
                                                <table class="table v-al">
                                                    <tbody>
                                                        <tr *ngFor="let step of steps; index as i" class="v-al">
                                                            <td scope="row">
                                                                <p class="cl-white m-0">{{step}}</p>
                                                            </td>
                                                            <td>
                                                                <p class="cl-white m-0">{{codes[i]}}</p>
                                                            </td>
                                                            <td>
                                                                <div class="d-grid cl-white">
                                                                    <a class="btn btn-primary bg-dark-pink" (click)="removeInstruction(step, codes[i], 0)">Remover</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <label class="m-0 pt-2">Conclusão:</label>
                                        <input [(ngModel)]="articleToInsert.ending"  type="text" class="form-control" formControlName="ending"/>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary mt-3">Inserir</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div #FINDARTICLE class="tab-content mt-3 txt-al-c" id="find-article">
                                <div class="tab-pane fade show" id="find-article-tab-pane" role="tabpanel" aria-labelledby="find-article" tabindex="1">          
                                    <form class="mb-3" [formGroup]="articleTitleForm">
                                        <input [(ngModel)]="articleTitle" (keyup)="findArticle()"  type="text" class="form-control" formControlName="title"/>
                                    </form>
                                    <div class="table-find-scroll container {{margin_fill}}">
                                        <table class="table v-al">
                                            <thead class="txt-al-c">
                                              <tr class="">
                                                <th scope="col">#</th>
                                                <th scope="col">Título</th>
                                                <th scope="col">Ações</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let article of foundArticleList" class="v-al">
                                                    <td scope="row">
                                                        <p class="cl-dark-blue m-0">{{article.id}}</p>
                                                    </td>
                                                    <td>
                                                        <p class="m-0">{{article.title}}</p>
                                                    </td>
                                                    <td>
                                                        <div class="mb-1 d-grid">
                                                            <button  class="btn btn-primary" (click)="showArticle(article.id)">Abrir</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </sw-card-nav-white>
    </div>
</div>

<div class="modal fade" id="editArticle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-dark-pink">
          <h1 class="modal-title fs-5 cl-white">Editar artigo</h1>
          <button id="close-modals" #closeModals type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="box-column">
                <div class="container">
                    <form class="mb-3" [formGroup]="editArticleForm" (ngSubmit)="editArticle()">
                        <label class="m-0 pt-1">Título:</label>
                        <input [(ngModel)]="articleToEdit.title"  type="text" class="form-control" formControlName="title"/>
                        <label class="m-0 pt-2">Subtítulo:</label>
                        <input [(ngModel)]="articleToEdit.subTitle"  type="text" class="form-control" formControlName="subtitle"/>
                        <label class="m-0 pt-2">Descrição:</label>
                        <input [(ngModel)]="articleToEdit.description"  type="text" class="form-control" formControlName="description"/>
                        <label class="m-0 pt-2">Temas:</label>
                        <div class="row">
                            <div class="box-row">
                                <select class="form-control mr-1" [(ngModel)]="themeSelected" formControlName="theme">
                                    <option [ngValue]="null" disabled>Selecione um tema</option>
                                    <option *ngFor="let theme of themeList" [ngValue]="theme">{{theme.name}}</option>
                                </select>
                                <div class="txt-al-c box-row cl-white">
                                    <a class="btn btn-primary minus mr-1" (click)="removeTheme(themeSelected,1)">-</a>
                                    <a class="btn btn-primary plus mr-1"  (click)="addTheme(themeSelected,1)">+</a>
                                </div>
                            </div>
                            <label class="mt-2 mb-1 fw-bold">Adicionados: <small *ngFor="let themeToAdd of articleToEdit.themes" class="p-1">{{themeToAdd.name}}</small></label>
                        </div>
                        <label class="m-0 pt-2">Imagem de capa:</label>
                        <input [(ngModel)]="articleToEdit.imgUrl"  type="text" class="form-control" formControlName="imgUrl"/>
                        <div class="row bg-dark-blue pb-2 mt-3 rd-15 align-items-center">
                            <div class="container">
                                <label class="m-0 pt-2 cl-white">Passos:</label>
                                <input [(ngModel)]="articleToEdit.step"  type="text" class="form-control" formControlName="step"/>
                                <label class="m-0 pt-2 cl-white">Códigos:</label>
                                <input [(ngModel)]="articleToEdit.code"  type="text" class="form-control" formControlName="code"/>
                            </div>
                            <div class="col-md-12 d-grid mt-3 cl-white">
                                <a class="btn btn-primary plus"  (click)="addInstructions(articleToEdit.step, articleToEdit.code, 1)">Adicionar</a>                                               
                            </div>
                            <label class="m-0 pt-2 cl-white">Instruções:</label>
                            <div class="pt-2">
                                <table class="table v-al">
                                    <tbody>
                                        <tr *ngFor="let step of articleToEdit.instructionList; index as i" class="v-al">
                                            <td scope="row">
                                                <p class="cl-white m-0">{{step}}</p>
                                            </td>
                                            <td>
                                                <p class="cl-white m-0">{{articleToEdit.codeList[i]}}</p>
                                            </td>
                                            <td>
                                                <div class="d-grid cl-white">
                                                    <a class="btn btn-primary bg-dark-pink" (click)="removeInstruction(step, articleToEdit.codeList[i], 1)">Remover</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <label class="m-0 pt-2">Conclusão:</label>
                        <input [(ngModel)]="articleToEdit.ending"  type="text" class="form-control" formControlName="ending"/>
                        <div class="d-grid">
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary mt-3 bg-dark-orange drop-shadow cl-white">Inserir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>